body {
  margin: 16px 40px;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.05);

  &__title {
    font-size: 24px;
    margin-left: 20px;
    background: -webkit-linear-gradient(#31d9c3, #07a7e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.form {
  border-radius: 50px;
  background-color: rgba(234,236,237,0);
  border: 1px solid #dee7eb;

  width: 370px;
  margin-right: 20px;
  padding: 10px 25px;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    width: 250px;
    margin-left: 10px;
    border: none;
    outline: none;
  }

  &__search-icon {
    width: 20px;
    height: 20px;
  }
}

.main {
  display: flex;
  justify-content: space-between;

}

.widget {
  width: 60%;
  height: 257px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.05);
  padding: 17px 13px;
  box-sizing: border-box;
  position: relative;

  &__visual {
    display: flex;
  }

  &__visual::after {
    content: "";
    width: 100%;
    height: 8px;
    background: -webkit-linear-gradient(#31d9c3, #07a7e3);
    position: absolute;
    left: 0;
    top: 170px;
  }

  &__picture {
    width: 140px;
    height: 140px;
    background-color: #dee7eb;
  }

  &__controls {
    display: flex;
    margin-top: 45px;
    align-items: center;
  }
}

.controls {

  &__prev,
  &__play,
  &__next {
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
  }

  &__prev {
    background-image: url("icons/prev.png");
    width: 17px;
    height: 14px;
  }

  &__play {
    background-image: url("icons/play.png");
    width: 19px;
    height: 21px;
    margin: 0 36px;
  }

  &__next {
    background-image: url("icons/next.png");
    width: 17px;
    height: 14px;
  }

  &__img {
    width: 32px;
    height: 32px;
    background-color: #dee7eb;
    border-radius: 15px;
    position: relative;
    margin-left: 40px;
  }

  &__picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__song {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    color: #72848c;
  }

  &__title,
  &__artist {
    margin: 0;
    padding: 0;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
  }

  &__artist {
    font-size: 12px;
  }

  &__volume {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
  }
}

.list {
  width: 35%;
  height: 75vh;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.05);
  overflow-y: auto;
  color: #8d9ba2;
  font-size: 14px;
  font-weight: bold;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__song {
    padding: 14px 0;
    border-bottom: 1px solid grey;
    cursor: pointer;
  }

  &__song span {
    margin-right: 10px;
  }
}
